<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>火车站列表</h1>
<ul>
    {% for (name, schedules) in train_stations %}
    <li>{{ name }}
        <ul>
            {% for (time_left, train_name, train_destination) in schedules %}
            <li>调度 {{ loop.index0 }}
                <ul>
                    <li>剩余发车时间: {{ time_left }}</li>
                    <li>列车名称: {{ train_name }}</li>
                    <li>目的地: {{ train_destination }}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>